#Border{
    border: 1px solid grey;
    border-radius:5px;
    width: 280px;
}
#Input{
 margin-top:10px;
 margin-left: 15px;
 border: solid grey 0.5px;
 width: 250px;
 height: 30px;
}
#Buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.Button{
    margin: 5px;
    width: 70px;
    height: 40px;
    font-weight: bolder;
}